@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #008080;
  font-family: Geneva, Chicago, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

/* Custom scrollbar - Mac OS 8 style */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 1px solid;
  border-color: #fff #404040 #404040 #fff;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;
  box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #dfdfdf;
}

::-webkit-scrollbar-button {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;
  display: block;
  height: 16px;
  width: 16px;
}
